In [1]:
import os
import json
import pandas as pd

In [5]:
def counting(path):
    cnt = 0
    data_dir = path

    for path in os.listdir(data_dir):
        if os.path.isfile(os.path.join(data_dir, path)):
            cnt += 1

    print(f'데이터 개수 = {cnt}')
    return cnt

In [6]:
target_path = "../원본데이터/용도별 목적대화 데이터/"

In [7]:
target_path_list = os.listdir(target_path)

In [8]:
target_path_list

['비용환불문의',
 '이벤트',
 '온오프라인안내',
 '레저',
 '배송',
 '숙박',
 '등록문의',
 '일정문의',
 '주문결제',
 '제품사용문의',
 '교통',
 '관광',
 'AS문의',
 '식당',
 '부서안내',
 '프로그램문의',
 '민원신고',
 '환불반품교환',
 '서류문의',
 '절차문의']

In [9]:
total_data = 0
for i in range(len(target_path_list)):
    cnt = counting(target_path+target_path_list[i])
    total_data += cnt
print(f'총 데이터 개수 = {total_data}')

데이터 개수 = 970
데이터 개수 = 990
데이터 개수 = 2136
데이터 개수 = 2313
데이터 개수 = 1945
데이터 개수 = 1410
데이터 개수 = 1806
데이터 개수 = 910
데이터 개수 = 1952
데이터 개수 = 2473
데이터 개수 = 899
데이터 개수 = 2281
데이터 개수 = 2426
데이터 개수 = 1446
데이터 개수 = 2093
데이터 개수 = 2707
데이터 개수 = 2833
데이터 개수 = 1910
데이터 개수 = 2196
데이터 개수 = 2787
총 데이터 개수 = 38483

In [10]:
purpose = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path+target_path_list[i])
    for k in range(len(files)):
        final_path = str(target_path)+str(target_path_list[i])+"/"+str(files[k])
        try:
            target_file = open(f"{final_path}", encoding="UTF-8")
            target_file = json.loads(target_file.read())
            for j in range(len(target_file['info'][0]['annotations']['lines'])):
                purpose.append(target_file['info'][0]['annotations']['lines'][j]['norm_text'][2:])
        except:
            print(f"error! {final_path}")

error! ../원본데이터/용도별 목적대화 데이터/배송/shopping4_0842.json

In [11]:
len(purpose)

480494

In [12]:
purpose_df = pd.DataFrame({'text':purpose})

In [13]:
purpose_df.head()

                                   text
0  행복 가득한 #@소속# 상담원 #@이름#입니다 무엇을 도와드릴까요
1                      결제를 못해서요 어떻게 하나요
2                     등록금 결제 말씀하시는거 맞나요
3         네 기간제 신청하고 수강신청도 했는데 결제를 못했어요
4                 네 일단 성함과 연락처 말씀해주시겠어요

In [14]:
purpose_df.tail()

                                     text
480489           감사합니다 처방전 같은 경우는 어떻게 하나요
480490   환자가 지정하는 약국으로 처방전을 전송할 수 있도록 합니다
480491  이를 받은 약사는 처방전에 따라 의약품을 전달할 수 있습니다
480492           네 그렇군요 도움이 많이 됐습니다 감사합니다
480493         감사합니다 #@소속# 상담원 #@이름#이었습니다

In [15]:
purpose_df.to_csv("../변형데이터/용도별목적대화데이터.csv", index=False)

In [16]:
target_path = "../원본데이터/주제별 텍스트 일상 대화 데이터/"

In [17]:
target_path_list = os.listdir(target_path)

In [20]:
target_path_list

['BAND', 'FACEBOOK', 'INSTAGRAM', 'NATEON', 'KAKAO']

In [21]:
total_data = 0
for i in range(len(target_path_list)):
    cnt = counting(target_path+target_path_list[i])
    total_data += cnt
print(f'총 데이터 개수 = {total_data}')

데이터 개수 = 1631
데이터 개수 = 8002
데이터 개수 = 4800
데이터 개수 = 1606
데이터 개수 = 54000
총 데이터 개수 = 70039

In [23]:
ex = open(f"../원본데이터/주제별 텍스트 일상 대화 데이터/KAKAO/KAKAO_898_15.json", encoding="UTF-8")
ex = json.loads(ex.read())

In [24]:
ex['info'][0]['annotations']['lines'][7]['norm_text']

'장난 아니죠 ? ㅠ'

In [25]:
ex['info'][0]['annotations']['lines'][11]['norm_text']

'이게\xa0다\xa0폭염과\xa0가뭄\xa0등\xa0이상기후\xa0때문인데...'

In [29]:
ex['info'][0]['annotations']['lines'][0]['norm_text']

'이번에 캘리포니아에 산불 난 거 보셨어요?'

In [30]:
len(ex['info'][0]['annotations']['lines'])

26

In [31]:
target_path_list

['BAND', 'FACEBOOK', 'INSTAGRAM', 'NATEON', 'KAKAO']

In [33]:
files = files = os.listdir(target_path+target_path_list[0])

In [34]:
target_path+target_path_list[0]+files[0]

'../원본데이터/주제별 텍스트 일상 대화 데이터/BANDBAND_32_10.json'

In [35]:
target_path_list

['BAND', 'FACEBOOK', 'INSTAGRAM', 'NATEON', 'KAKAO']

In [36]:
daily_conversations = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path+target_path_list[i])
    for k in range(len(files)):
        final_path = str(target_path)+str(target_path_list[i])+"/"+str(files[k])
        try:
            target_file = open(f"{final_path}", encoding="UTF-8")
            target_file = json.loads(target_file.read())
            for j in range(len(target_file['info'][0]['annotations']['lines'])):
                daily_conversations.append(target_file['info'][0]['annotations']['lines'][j]['norm_text'])
        except:
            print(f"error! {final_path}")

error! ../원본데이터/주제별 텍스트 일상 대화 데이터/KAKAO/KAKAO_1648_13.json

In [37]:
len(daily_conversations)

1230012

In [38]:
daily_conversations_df = pd.DataFrame({'text':daily_conversations})

In [39]:
daily_conversations_df.head()

                     text
0  우리 아빠가 옥상에다 골프장을 만들었어.
1          우와 어떻게 만드신 거야?
2    그냥 인터넷으로 과녁 사서 붙혔더라.
3     골프채 같은 거 되게 비싸지 않아?
4   누가 골프 가방 통째로 줘서 시작했어.

In [40]:
daily_conversations_df.tail()

                                           text
1230007    아닝 키키 다른 운동까진 아직 무리고 키키 홈트라도 자주 해주려고
1230008                  아 키키 뭐 그래도 좋네 곧 건강해지겠어
1230009               집에서 자주 하라고 폼롤러 사용법 알려주더라고
1230010            오 좋네 키키 폼롤러도 이번에 하나 장만하셨습니까?
1230011  키키 폼롤러 진작 사놨는데 사용법을 몰라서 관상용으로 모셔뒀었지 키키

In [41]:
daily_conversations_df.to_csv("../변형데이터/주제별텍스트일상대화데이터.csv", index=False)

In [43]:
common_sense = open(f"../원본데이터/감성대화/감성대화말뭉치.json", encoding="UTF-8")
common_sense = json.loads(common_sense.read())

In [89]:
common_sense[1]['talk']['content']

{'HS01': '이번 달에 또 급여가 깎였어! 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나.',
 'SS01': '급여가 줄어 속상하시겠어요. 월급이 줄어든 것을 어떻게 보완하실 건가요?',
 'HS02': '최대한 지출을 억제해야겠어. 월급이 줄어들었으니 고정지출을 줄일 수밖에 없을 것 같아.',
 'SS02': '월급이 줄어든 만큼 소비를 줄일 계획이군요.',
 'HS03': '',
 'SS03': ''}

In [104]:
for i in range(2):
    print(i, common_sense[i]['talk']['content']['HS01'])
    print(i, common_sense[i]['talk']['content']['SS01'])
    print(i, common_sense[i]['talk']['content']['HS02'])
    print(i, common_sense[i]['talk']['content']['SS02'])

0 일은 왜 해도 해도 끝이 없을까? 화가 난다.
0 많이 힘드시겠어요. 주위에 의논할 상대가 있나요?
0 그냥 내가 해결하는 게 나아. 남들한테 부담 주고 싶지도 않고.
0 혼자 해결하기로 했군요. 혼자서 해결하기 힘들면 주위에 의논할 사람을 찾아보세요.
1 이번 달에 또 급여가 깎였어! 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나.
1 급여가 줄어 속상하시겠어요. 월급이 줄어든 것을 어떻게 보완하실 건가요?
1 최대한 지출을 억제해야겠어. 월급이 줄어들었으니 고정지출을 줄일 수밖에 없을 것 같아.
1 월급이 줄어든 만큼 소비를 줄일 계획이군요.

In [71]:
len(common_sense)

51628